@font-face {
  font-family: 'Archivo Black';
  src: url(../fonts/Archivo_Black/ArchivoBlack-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: 'Roboto';
  font-weight: 800;
  src: url(../fonts/Roboto/Roboto-Bold.ttf);
}