#main-header {
  img {
    margin-top: 4rem;
    margin-left: 3rem;
    height: 160px;

    @media only screen and (max-width: 600px) {
      height: auto;
      width: 80%;
      margin: 4rem auto;
      display: block;
    }
  }

  min-height: 100vh;
  background: $orange;
  background-image: url('../images/photos/Portrait_Group_3.webp');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right bottom;
}