#hero-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 880px;
  background: $orange;
  background-image: url('../images/illustrations/undraw_environment_iaus.svg');
  background-position: right bottom;
  background-repeat: no-repeat;
  padding: $padding-clamp;
  
  p {
    font-family: $heading-font;
    width: 50%;
    font-size: $font-clamp;
  }

  @media only screen and (max-width: 900px) {
    background-size: contain;
    p {
      
      font-size: $small-font-clamp;
      min-height: 450px;
      width: 90%;
    }
  }
}