/* Colors: */
$yellow: #ffff00;
$green: #264f1a;
$orange: #ff703d;

/* Font/text values */
$body-font: "Roboto", sans-serif;
$heading-font: "Archivo Black", sans-serif;
$font-clamp: clamp(1.5rem, 8vw, 4.5rem);
$small-font-clamp: clamp(1rem, 6vw, 2.5rem);
$padding-clamp: clamp(1.5rem, 8vw, 7rem);
