*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "fonts";

@import "variables";

// Typography
body {
  font-family: $body-font;
  background: $orange;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

header,
section,
footer {
  width: 100%;
}

@import "header";

@import "angebot";

@import "menus";

@import "hero";

@import "about";

@import "team";

@import "footer";
